<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780726186241-a6g187l23s9ouc2ka8nga66gvmbt2skf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780726186241-a6g187l23s9ouc2ka8nga66gvmbt2skf</string>
	<key>API_KEY</key>
	<string>AIzaSyDgRaeAeAogn-AIKH44uRSjYjiKUw0zj04</string>
	<key>GCM_SENDER_ID</key>
	<string>780726186241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tickethelp</string>
	<key>PROJECT_ID</key>
	<string>tickethelp-6884b</string>
	<key>STORAGE_BUCKET</key>
	<string>tickethelp-6884b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780726186241:ios:87f3e275f52d2bc3f42b00</string>
</dict>
</plist>